body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    text-align: center;
}

input {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #c31432;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #a11228;
}

#result {
    margin-top: 20px;
    word-wrap: break-word;
    font-weight: bold;
    color: #333;
}
#copyBtn {
    margin-top: 10px;
    padding: 8px 16px;
    border: none;
    background-color: #c31432; 
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

#copyBtn:hover {
    background-color: #a11228;
}

